<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta charset="UTF-8">
<title>Myblog</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-header" align="center">
        <a href="{% url 'blog:post_new'%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="{% url 'blog:post_list' %}"><strong>Django Girls Blog</strong></a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>